.container{'ng-controller': 'ArticleListCtrl'}

  %h1
    {{title}}

    %button.btn.btn-primary.pull-right{'ng-click': "showUpdateModal()"}
      Create

  %table.table.table-bordered
    %tr
      %th
        \#
      %th
        Name
        %span.glyphicon.glyphicon-menu-up{"ng-click" => "sortBy.order = 'title'"}
        %span.glyphicon.glyphicon-menu-down{"ng-click" => "sortBy.order = '-title'"}
      %th
        Address
        %span.glyphicon.glyphicon-menu-up{"ng-click" => "sortBy.order = 'text'"}
        %span.glyphicon.glyphicon-menu-down{"ng-click" => "sortBy.order = '-text'"}
      - unless production?
        %th{'colspan': 3}

    %tr{'ng-repeat': 'article in blogs.articles', 'ng-click': "blogs.selectedArticle = article"}
      %td
        {{ counter =  $index + 1 ; counter  }}
      %td
        {{article.title}}
      %td
        {{article.text}}
      - unless production?
        %td.text-center
          %span.glyphicon.glyphicon-pencil
            %a{'ng-click': 'blogs.selectedArticle = article;showUpdateModal();'} edit
        %td.text-center
          %span.glyphicon.glyphicon-zoom-in
            %a{'ng-click': 'blogs.selectedArticle = article;showArticleModal();'} show
        %td.text-center
          %span.glyphicon.glyphicon-trash
            %a{'ng-click': 'blogs.selectedArticle = article; delete()', 'data-confirm': "Are you sure?"} delete

    - unless production?
      %tr.lead
        %td.text-right{colspan: 5 }
          Total
        %td.text-center
          {{blogs.articles.length}}